<ion-view view-title="Request">
  <ion-content class="padding">
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Location</span>
        <input type="text">
      </label>
      <label class="item item-input">
        <span class="input-label">Time</span>
        <input type="text">
      </label>
      <label class="item item-input">
        <span class="input-label">Item name</span>
        <input type="text">
      </label>
      <label class="item item-input">
        <span class="input-label">Item description</span>
        <input type="text">
      </label>
      <label class="item item-input">
        <span class="input-label">Item price</span>
        <input type="text">
      </label>
    </div>

    <button class="button button-outline button-positive" ng-click="navigateTo('tab.requestlist')">
      Request
    </button>
  </ion-content>
</ion-view>
