<ion-view view-title="Get list">
  <ion-content class="padding">
    <a class="item item-thumbnail-left" ng-click="navigateTo('tab.getlistdetails')">
      <img src="./img/anter.png">
      <h2>Macbook Air</h2>
      <p>Nine Inch Nails</p>
    </a>

    <a class="item item-thumbnail-left" ng-click="navigateTo('tab.getlistdetails')">
      <img src="./img/anter.png">
      <h2>Macbook Air</h2>
      <p>Nine Inch Nails</p>
    </a>

    <a class="item item-thumbnail-left" ng-click="navigateTo('tab.getlistdetails')">
      <img src="./img/anter.png">
      <h2>Macbook Air</h2>
      <p>Nine Inch Nails</p>
    </a>

    <a class="item item-thumbnail-left" ng-click="navigateTo('tab.getlistdetails')">
      <img src="./img/anter.png">
      <h2>Macbook Air</h2>
      <p>Nine Inch Nails</p>
    </a>

    <a class="item item-thumbnail-left" ng-click="navigateTo('tab.getlistdetails')">
      <img src="./img/anter.png">
      <h2>Macbook Air</h2>
      <p>Nine Inch Nails</p>
    </a>

    <a class="item item-thumbnail-left" ng-click="navigateTo('tab.getlistdetails')">
      <img src="./img/anter.png">
      <h2>Macbook Air</h2>
      <p>Nine Inch Nails</p>
    </a>

  </ion-content>
</ion-view>
