<ion-view view-title="Request List">
  <ion-content class="padding">
    <div class="list card" ng-click="navigateTo('tab.requestlistdetails')">

    <div class="item item-avatar">
      <img src="./img/anter.png">
      <h2>Nike Air 1</h2>
      <p>Purchased By Peter Yu</p>
    </div>

    <div class="item item-image">
      <img src="./img/anter.png">
    </div>

    <a class="item item-icon-left assertive" ng-click="navigateTo('tab.requestlistdetails')">
      <i class="icon ion-model-s"></i>
      Status - Buying (Click)
    </a>

  </div>

  <div class="list card">

  <div class="item item-avatar">
    <img src="./img/anter.png">
    <h2>Nike Air 1</h2>
    <p>Purchased By Peter Yu</p>
  </div>

  <div class="item item-image">
    <img src="./img/ant-512.png">
  </div>

  <a class="item item-icon-left assertive" href="#">
    <i class="icon ion-model-s"></i>
    Status - Buying
  </a>

</div>



  </ion-content>
</ion-view>
