<ion-view view-title="Get list details">
  <ion-content class="padding">
    <div class="list card" ng-click="navigateTo('tab.requestlistdetails')">

    <div class="item item-avatar">
      <img src="./img/anter.png">
      <h2>iMac 50"</h2>
      <p>Reward: HKD$50</p>
    </div>

    <div class="item item-image">
      <img src="./img/ionic.png">
    </div>

    <a class="item item-icon-left assertive" >
      <i class="icon ion-star"></i>
      Rating
    </a>
    <a class="item item-icon-left assertive">
      <i class="icon ion-paper-airplane"></i>
      Accept
    </a>

  </div>
  </ion-content>
</ion-view>
